@{
    ViewBag.Title = "ChiTiet1SP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChiTiet1SP</h2>
<div class="container">
<div class="form-row">
    <div class="form-group col-md-5">
<img src="~/Content/hinh/h1.jpg" width="320" height="250" style="margin-left:120px"/>
        </div>
     <div class="form-group col-md-7 ">
         
<div class="font-weight-bold" style="height:60px"> Tên sản phẩm:</div> <br />
             
<div class="font-weight-bold" style="background-color:#808080; height: 250px">Thông số kỹ thuật</div> <br />   
                
<div class="font-weight-bold" style="height:30px">Giá bán:</div>
        
  <div> <a href="#" class="btn btn-primary">Đặt mua </a></div>
       </div>
 
         </div>

</div>

