@using ONTAP.Models;
@model List<ThongKeThuongHieu>
<div>
 <canvas id="myChart" class="mt-4"></canvas>
    </div>
<script>
    @{
        
        List<String> listKeys = new List<string>();
        List<int> listLuotDat = new List<int>();
        List<Double> listDoanhThu = new List<double>();
        foreach(var x in Model)
        {
            listKeys.Add(@x.ngay+ "-"+@x.thang+"-"+@x.nam);
            listDoanhThu.Add(@x.doanhThu);
            listLuotDat.Add(@x.luotDat);
            
        }
        var lstName = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(listKeys));
        var lstDoanhThu = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(listDoanhThu));
        var lstLuotDat = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(listLuotDat));
    }
        let massPopChart = new Chart(myChart, {
            type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data:{
                labels:@lstName,
                datasets:[{
                    label:'Doanh Thu',
                    data:@lstDoanhThu,
                    //backgroundColor:'green',
                    backgroundColor:[
                      'rgba(255, 99, 132, 0.6)',
                      'rgba(54, 162, 235, 0.6)',
                      'rgba(255, 206, 86, 0.6)',
                      'rgba(75, 192, 192, 0.6)',
                      'rgba(153, 102, 255, 0.6)',
                      'rgba(255, 159, 64, 0.6)',
                      'rgba(255, 99, 132, 0.6)'
                    ],
                    borderWidth:1,
                    borderColor:'#777',
                    hoverBorderWidth:3,
                    hoverBorderColor:'#000'
                },
                {
                    label:'Lượt đặt',
                    data:@lstLuotDat,
                    //backgroundColor:'green',
                    backgroundColor:[
                      'rgba(255, 99, 132, 0.6)',
                      'rgba(54, 162, 235, 0.6)',
                      'rgba(255, 206, 86, 0.6)',
                      'rgba(75, 192, 192, 0.6)',
                      'rgba(153, 102, 255, 0.6)',
                      'rgba(255, 159, 64, 0.6)',
                      'rgba(255, 99, 132, 0.6)'
                    ],
                    borderWidth:1,
                    borderColor:'#777',
                    hoverBorderWidth:3,
                    hoverBorderColor:'#000'
                }
                ]
            },
            options:{
                title:{
                    display:true,
                    text:'Thống Kê Doanh Thu Theo Từng Ngày',
                    fontSize:25
                },
                legend:{
                    display:true,
                    position:'right',
                    labels:{
                        fontColor:'#000'
                    }
                },
                layout:{
                    padding:{
                        left:50,
                        right:0,
                        bottom:0,
                        top:0
                    }
                },
                tooltips:{
                    enabled:true
                }
            }
        });
  </script>